<div class='contianer'>
  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>



      <%= simple_form_for @kid do |f| %>
        <%= f.input :first_name, placeholder: "What's your nickname?" %>
        <%= f.input :age, placeholder: "How old are you?" %>
        <%= f.input :avatar, placeholder: "upload your favourite picture" %>
        <%= f.input :city, placeholder: "Which city do you live in?" %>
        <%= f.input :description, placeholder: "How would you describe yourself?" %>
        <%= f.input :favourite_things, placeholder: "What are your favourite things?" %>
        <%= f.input :dislikes, placeholder: "What don't you like!?" %>

         <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>

        <%= f.submit 'Submit!', class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>


