<h1><%= kid.first_name %></h2>
<h2><%= kid.city %></h2>
<h3><%= kid.age %></h3>
<img src="kid.avatar" alt="">
<p><%= kid.description %></p>
<p><%= kid.favourite_things %></p>
<p><%= kid.dislikes %></p>
