<div class='container-profile'>
  <div class="text-center col-lg-8 offset-lg-2 col-md-6 col-sm-8 offset-sm-2">
    <%= cl_image_tag @kid.avatar, class:"avatar-bordered w-25 h-25" %>
    <h1><%= @kid.first_name %>, <%= @kid.age %></h2>
    <h2>Location: <%= @kid.city %></h2>
    <% if current_user.id == @kid.id %>
      <%= link_to "Edit Profile", edit_kid_path(@kid), class:"mb-3" %>
    <% else %>
      <%= '' %>
    <% end %>
    <h4>Favourite Things:</h4>
    <p><%= @kid.favourite_things %></p>
    <h4>Dislikes: </h4>
    <p><%= @kid.dislikes %></p>
    <h4>Description: </h4>
    <p><%= @kid.description %></p>
  </div>
</div>
<!-- My artwork -->
<div class="title text-center">
  <h1>My Drawings</h1>
</div>
<div class="my-art-card text-center col-lg-8 offset-lg-2 col-md-6 col-sm-8 offset-sm-2">
  <div class="row">
    <div class="image-card col-md-4 col-sm-8">
      <% @kid.drawings.each do |drawing| %>
        <p><%= cl_image_tag drawing.image %></p>
      <% end %>
    </div>
  </div>
  <% if current_user.type == "Kid" %>

    <p><%= link_to "Add a new drawing!", new_kid_drawing_path(@kid) %></p>
  </div>
  <!-- My collabs -->
  <h1>My Collaborations</h1>
  <div class="my-art-card text-center col-lg-8 offset-lg-2 col-md-6 col-sm-8 offset-sm-2">
    <div class="row">
      <% @collaborations.each do |collab| %>
        <% if current_user.id == collab.drawing.kid_id %>
          <div class="image-card col-md-4 col-sm-8">
            <p><%= cl_image_tag collab.collab_upload %></p>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>

