<div class='container-profile'>
  <div class="text-center col-lg-8 offset-lg-2 col-md-6 col-sm-8 offset-sm-2">
    <%= cl_image_tag @kid.avatar, class:"avatar-bordered w-25 h-25" %>
    <h1><%= @kid.first_name %>, <%= @kid.age %></h2>
    <h4>Location: <%= @kid.city %></h4>
    <% if current_user.id == @kid.id %>
      <%= link_to "Edit Profile", edit_kid_path(@kid), class:"mb-3" %>
    <% else %>
      <%= '' %>
    <% end %>
    <h2>Favourite Things:</h2>
    <div class="tagging"><i class="fas fa-tag"></i>
      <% @kid.favourite_things.each do |t| %>
        <span class="tag-box"><%= t %></span>
      <% end %>
    </div>
    <h2>Dislikes: </h2>
    <div class="tagging"><i class="fas fa-tag"></i>
      <% @kid.worst_things.each do |t| %>
        <span class="tag-box"><%= t %></span>
      <% end %>
    </div>
    <h2>Description: </h2>
    <h4 class="mb-3"><%= @kid.description %></h4>
  </div>
</div>
<!-- My artwork -->
<div>
  <%= render 'drawings/kid_drawings', limit: nil %>
</div>
<!-- My collabs -->
<div class="title text-center">
  <h1>My Collaborations</h1>
</div>
<div class="row my-3 p-3">
  <% completed = current_user.collaborations.select{|x| x.collab_upload.filename != nil}%>
  <% completed.each do |collab| %>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card-collab my-3">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" style="background-image: url('<%= cl_image_path collab.drawing.image %>')"></div>
            <div class="flip-card-back" style="background-image: url('<%= cl_image_path collab.collab_upload %>')"></div>
          </div>
        </div>
        <div class="card-collab-infos">
          <h5>"<%= collab.drawing.name %>"</h5>
          <p> <strong><em>inspired by</em></strong> <%= collab.drawing.kid.first_name %></p>
          <p><strong><em>brought to life by</em></strong> <%= collab.creator.first_name %></p>
          <%= link_to collaboration_upvote_path(collab) do %> <i class="far fa-heart"></i>  <%= "#{collab.votes_for.size}" %><% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>