<div class="title text-center my-3">
  <h1>My Drawings Gallery</h1>
</div>
<div class="row my-3 p-3">
  <% drawings = limit.present? ? @drawings.first(limit) : @drawings  %>
  <% drawings.each do |drawing| %>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card-collab upload my3">
        <%= link_to kid_drawing_path(drawing.kid, drawing) do %>
          <%= cl_image_tag drawing.image %>
        <% end %>
        <div class="card-collab-infos-upload" style="position: relative;">
          <div>
            <p>"<%= drawing.name %>"</p>
            <div class="collaboration-dates">
              <% if drawing.booked?%>
                <div>
                  <p><strong><em>Booked by: </em></strong> <%= drawing.collaboration.creator.first_name %></p>
                  <p><strong><em>Booked on: </em></strong> <%= drawing.collaboration.created_at.strftime("%d / %m / %Y") %></p>
                  <p><strong><em>Date due: </em></strong> <%= (drawing.collaboration.created_at + 7.days).strftime("%d / %m / %Y") %></p>
                </div>
                <div>
                  <%= cl_image_tag drawing.collaboration.creator.avatar, class:"card-collab-user avatar-bordered drawing" %>
                </div>
              <% else %>
                <p><strong><em>Created at: </em></strong><%= drawing.created_at.strftime("%d / %m / %Y") %></p>
                <p><strong><em>NOT YET BOOKED</em></strong></p>
                 <%= link_to drawing_path(drawing),
                method: :delete,
                data: { confirm: "Click 'ok' to confirm deletion" } do %>
                      <i class="fas fa-trash-alt"></i> <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
