<% @drawings.each do |drawing| %>
  <div class="card">
    <p><%= drawing.image_url %></p>
    <p><%= drawing.upload_at %></p>
    <p><%= drawing.booking_at %></p>
    <p><%= drawing.created_at %></p>
    <p><%= drawing.updated_at %></p>
    <p><%= drawing.status %></p>
    <p><%= drawing.name %></p>
  </div>
<% end %>