<div class="container text-center col-sm-8 offset-sm-2 my-3 p-3">
  <!-- <div class="my-3 w-70%"> -->
  <h1>My Drawing:</h1>
  <!-- </div> -->
  <div class="drawing-image">
    <p><%= cl_image_tag @drawing.image %></p>
  </div>
  <div class="container-edit">
    <h3>Title: "<%= @drawing.name %>"</h3>
    <h1>About the Artist</h1>
    <%= cl_image_tag @drawing.kid.avatar, class:"avatar-bordered w-25 h-25 m-3 p-3" %>
    <a>
      <h3><%=link_to "#{@drawing.kid.first_name}, #{@drawing.kid.age}", kid_path(@drawing.kid)%></h3>
    </a>
  </div>
  <% if current_user.type == "Creator" %>
  <p class="card-text">
    <%= simple_form_for [@collaboration.creator, @collaboration] do |c| %>
      <%= c.input :creator_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= c.input :drawing_id, as: :hidden, input_html: { value: @drawing.id } %>
      <%= c.submit "Choose #{@drawing.kid.first_name}'s Drawing!", class:"button-register my-3" %>
    <% end %>
  <% end %>
  </div>
