<!-- Banner Top -->
<div class="banner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blogs.rch.org.au/news/files/2013/03/00067006-leadimage.jpg);">
  <div class="container-homepage">
    <h1 class="mt-3 p-3"> dreamCo Lab</h1>
    <p>keeping hope alive.</p>
  </div>
</div>
<!-- DreamCoLab Register new user -->
<div class="card-join-community text-center col-sm-8 offset-sm-2">
  <h3>Join our community.</h3>
  <div class="d-flex justify-content-center col-sm-8 offset-sm-2">
    <%= link_to "I'm a dreamer", new_kid_path(@kid), class:"button-user" %>
    <%= link_to "I'm a creator", new_creator_path(@creator), class:"button-user" %>
  </div>
</div>
<!-- Our mission information -->
<div class="brand-card col-sm-8 offset-sm-2 text-center">
  <h1>our mission.</h1>
  <p>dreamCo lab aims to bring hope, inspiration, and creativity to hospitalized children by connecting them with artists around the world to help bring their dreams to reality. </p>
  <div class="row">
    <div class="image-card col-lg-4 col-md-6 col-sm-8">
      <p><%= image_tag 'childdraw.jpg', class:"image" %></p>
    </div>
    <div class="image-card col-lg-4 col-md-6 col-sm-8">
      <p><%= image_tag 'childhosp1.jpg', class:"image" %></p>
    </div>
    <div class="image-card col-lg-4 col-md-6 col-sm-8">
      <p><%= image_tag 'childhosp2.png', class:"image" %></p>
    </div>
  </div>
</div>
<!-- How it works section -->
<div class="brand-card col-sm-8 offset-sm-2 text-center">
  <h1>how it works.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi natus dolores ullam quo fugiat magni, magnam molestiae, laborum autem vero quae voluptatum porro, voluptates cum perspiciatis tempore, aliquid deserunt facilis. </p>
</div>
<!-- Dream Gallery examples -->
<div class="brand-card col-sm-8 offset-sm-2 text-center">
  <h1>dream gallery.</h1>
  <p >Our dream gallery is filled with creations and collaborations between dreamers and creators from all over the world! Take a look at some of our latest works.  </p>
  <div class="row">
    <div class="image-card col-md-6 col-sm-8">
      <p><%= image_tag 'drawing2.png', class:"image" %></p>
      <p><%= image_tag 'collab2.png', class:"image" %></p>
    </div>
    <div class="image-card col-md-6 col-sm-8">
      <p><%= image_tag 'drawing4.png', class:"image" %></p>
      <p><%= image_tag 'collab4.png', class:"image" %></p>
    </div>
    <div class="image-card col-md-6 col-sm-8">
      <p><%= image_tag 'drawing1.png', class:"image" %></p>
      <p><%= image_tag 'collab1.png', class:"image" %></p>
    </div>
    <div class="image-card col-md-6 col-sm-8">
      <p><%= image_tag 'drawing3.png', class:"image" %></p>
      <p><%= image_tag 'collab3.png', class:"image" %></p>
    </div>
  </div>
</div>
</div>