<!-- Banner Top -->
<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(<%= image_path "leadkid.png"%>);">
  <div class="banner-container">
    <a>
      <h3><%=link_to "View our Dream Gallery", dream_gallery_path, class: "button-gallery text-center" %></h3>
    </a>
  </div>
</div>

<%#= render 'homepage_carousel' %>
<!-- Mission Info and video -->
<!-- <div class="page-full"> -->
  <div class="card-join-community col-sm-8 offset-sm-2">
    <h3>Our Mission</h3>
    <p>dreamco lab inspires children facing adversity by connecting them with creatives all around the world through shared collaborative artwork.</p>
  </div>
  <div class="video-container">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/rcZ46PbBOaI" frameborder="0" allowfullscreen></iframe>
  </div>

<!-- </div> -->
<!-- Who we are-->
<!-- <div class="page-full"> -->
  <div class="banner-thin" style="background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(<%= image_path "homeart5.jpg"%>)";>
    <div class="container-banner">
      <h1>H O W &ensp; I T &ensp; W O R K S</h1>
    </div>
  </div>
  <div class="brand-card col-sm-8 offset-sm-2 text-center">
    <div class="row">
      <div class="image-card text-center col-lg-4 col-md-6 col-sm-8">
        <p>Creators</p>
        <p><%= image_tag 'dezio.png', class:"image-home" %></p>
        <p>Browse drawings from children and choose one to reinterpret.</p>
      </div>
      <div class="image-card col-lg-4 col-md-6 col-sm-8">
        <p>Organizations</p>
        <p><%= image_tag 'childhosp2.png', class:"image-home" %></p>
        <p>Organizations connect children in their care to others via artwork.</p>
      </div>
      <div class="image-card col-lg-4 col-md-6 col-sm-8">
        <p>Individuals & Companies</p>
        <p><%= image_tag 'publicimage.png', class:"image-home" %></p>
        <p>Browse collaborations and interact with the artist community.</p>
      </div>
    </div>
  </div>
<!-- </div> -->
<!--Our Partners -->
<!-- <div class="page-full"> -->
  <div class="banner-thin" style="background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(<%= image_path "childpainting.jpg"%>)";>
    <div class="container-banner">
      <h1>OUR &ensp; PARTNERS</h1>
    </div>
  </div>
    <div class="card-join-community text-left col-sm-8 offset-sm-2">
      <h3>Creating an impact together</h3>
    </div>
  <div class="partners-card">
   <h3><%= image_tag 'communityicon.jpg', class:"image-home-large" %></h3>
    <div class="partners-card-text">
      <p>We partner with charities, hospitals, and organizations all around the world to help bring inspiration and support to their children in need. dreamco lab is always looking to establish and build long-term relationships with both local and global organizations to help raise awareness.</p>
      <p>We also work with talented individuals and art communities who share a passion for creating different forms of art, and welcome everyone interested in giving back to join us in our cause. Together we can make a difference in helping those who need us most.</p>
      <p><%= link_to "Check out our partners >>", drawings_path %></p>
    </div>
  </div>
<!-- </div> -->
<!-- Contact US Section -->
<!-- <div class="page-full"> -->
  <div class="banner-thin" style="background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(<%= image_path "contactuspic.png"%>)";>
    <div class="container-banner">
      <h1>CONTACT &ensp; US</h1>
    </div>
  </div>
    <div class="contact-info text-center">
      <h3>We'd love to hear from you!</h3>
      <p><strong>email:</strong> team.dreamcolab@gmail.com</p>
      <p><strong>facebook:</strong> www.facebook.com/dreamcolaborg</p>
      <p><strong>instagram:</strong> @dreamcolab </p>
    </div>

<!-- </div> -->
<!-- Run carousel partial -->
<!-- <script>
  $('.carousel').carousel()
</script> -->
