<div class='container-profile-creator'>
  <div class="text-center col-lg-8 offset-lg-2 col-md-6 col-sm-8 offset-sm-2">
    <%= cl_image_tag @creator.avatar, class:"avatar-bordered-xl" %>
    <h1><%= @creator.first_name %> <%= @creator.last_name %>, <%= @creator.age %></h2>
    <% if @creator.city.present? %>
      <h4>Location: <%= @creator.city %></h4>
    <% end %>
    <%= link_to "Edit Profile", edit_creator_path(@creator), class:"mb-3" %>
    <% if @creator.description.present? %>
      <h2>Description: </h2>
      <h4><%= @creator.description %></h4>
    <% end %>
    <% if @creator.portfolio_url.present? %>
      <h2>Portfolio URL </h2>
      <h4><%= @creator.portfolio_url %></h4>
    <% end %>
  </div>
</div>
<!-- New customized collabs -->
<div class="collab-sectioning text-center">
  <h1>My Collaborations Gallery</h1>
  <div class="row my-3 p-3">
    <% completed = @collaborations.select{|x| x.collab_upload.filename != nil}%>
    <% completed.each do |collab| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-collab my-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image: url('<%= cl_image_path collab.drawing.image %>')">
              </div>
              <div class="flip-card-back" style="background-image: url('<%= cl_image_path collab.collab_upload %>')">
              </div>
            </div>
          </div>
          <div class="card-collab-infos">
            <h5>"<%= collab.drawing.name %>"</h5>
            <p> <strong><em>inspired by</em></strong> <%= collab.drawing.kid.first_name %></p>
            <p><strong><em>brought to life by</em></strong> <%= collab.creator.first_name %></p>
            <%= link_to collaboration_upvote_path(collab) do %> <i class="far fa-heart"></i>  <%= "#{collab.votes_for.size}" %>
            <% end %>
          </div class="text-center">
          <%= link_to "View Full Collab", creator_collaboration_path(collab.creator, collab), class:"btn-view-more" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>