<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
      <h1><%= @creator.first_name %></h2>
      <h1><%= @creator.last_name %></h2>
      <h2><%= @creator.city %></h2>
      <h3><%= @creator.age %></h3>
      <img src="@creator.avatar" alt="">
      <p><%= @creator.description %></p>
      <p><%= @creator.portfolio_url %></p>
    </div>
  </div>
</div>
