<div class="title text-center">
  <h1><em>"<%= @post.title %></em>"</h1>
</div>
<div class="post-content text-center">
  <h3><%= @post.oneliner %></h3>
  <div class="post-image">
    <%= cl_image_tag @post.main_image_upload  %>
  </div>
  <div class="post-story mx-auto">
    <p><%= @post.opening %></p>
  </div>
  <div class="post-image">
    <%= cl_image_tag @post.second_image_upload  %>
  </div>
  <div class="post-story mx-auto">
    <p><%= @post.content %></p>
  </div>
  <div class="post-image">
    <%= cl_image_tag @post.third_image_upload  %>
  </div>
  <div class="post-story mx-auto">
    <p><%= @post.summary %></p>
  </div>
</div>
<!-- link to other paths -->
<% if current_user.admin %>
  <div class="post-links text-center mb-3 ">
    <%= link_to "Edit ", edit_post_path(@post), class:"mx-3"%>
    <%= link_to "Delete ", post_path(@post), class:"mr-3", method: :delete, data: {confirm: "Are you sure your would like to delete this post?"} %>
  <% end %>
  <%= link_to "Back to All Posts", posts_path(@posts), class:"mx-3"%>
</div>
