<!-- Index for COLLABS FOR SPECIFIC CREATOR -->
<div class="full-height-page">
  <div class="title text-center mb-3">
    <h1>My Collaborations Gallery</h1>
  </div>
  <div class="collab-sectioning">
    <h1>Booked Collaborations</h1>
    <div class="row my-3">
      <% booked = @collaborations.select{|x| x.collab_upload.filename == nil} %>
      <% booked.each do |collab| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card-collab upload my-3">
            <%= link_to kid_drawing_path(collab.drawing.kid, collab.drawing) do %>
              <%= cl_image_tag collab.drawing.image %>
            <% end %>
            <div class="card-collab-infos-upload" style="position: relative;">
              <div>
                <p>"<%= collab.drawing.name %>"</p>
                <p>by <%= collab.drawing.kid.first_name %></p>
                <div class="collaboration-dates">
                  <p><strong><em>Booked on: </em></strong> <%= collab.created_at.strftime("%d / %m / %Y") %></em></strong></p>
              <p><strong><em>Date due: </em></strong> <%= (collab.created_at + 7.days).strftime("%d / %m / %Y") %></em></strong></p>
        </div>
        <%= simple_form_for [current_user, collab], html: {novalidate: false} do |f| %>
          <%= f.input :collab_upload, :required => true %>
          <%= f.input :collab_upload_cache, as: :hidden %>
          <%= f.submit "Complete Collaboration!", class:"complete-collab-button" %>
        <% end %>
      </div>
      <%= cl_image_tag collab.drawing.kid.avatar, class:"card-collab-user avatar-bordered upload" %>
    </div>
    <div class="undo-collab">
      <%= link_to creator_collaboration_path(collab.creator, collab), method: :delete, data: { confirm: "OH NO! A child's dream will be crushed ☹" }, class: "undo-collab" do %><i class="fas fa-trash-alt"></i>
        <div>
          <p>Changed your mind?</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
</div>
<h1>Completed  collaborations</h1>
<div class="row my-3 p-3">
  <% completed = @collaborations.select{|x| x.collab_upload.filename != nil}%>
  <% completed.each do |collab| %>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card-collab my-3">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" style="background-image: url('<%= cl_image_path collab.drawing.image %>')"></div>
            <div class="flip-card-back" style="background-image: url('<%= cl_image_path collab.collab_upload %>')"></div>
          </div>
        </div>
        <div class="card-collab-infos">
          <h5>"<%= collab.drawing.name %>"</h5>
          <p> <strong><em>inspired by</em></strong> <%= collab.drawing.kid.first_name %></p>
          <p><strong><em>brought to life by</em></strong> <%= collab.creator.first_name %></p>
          <%= link_to collaboration_upvote_path(collab) do %> <i class="far fa-heart"></i>  <%= "#{collab.votes_for.size}" %>
          <% end %>
        </div>
        <div class="text-center mb-3">
          <%= link_to "View Full Collab", creator_collaboration_path(collab.creator, collab), class:"btn-view-more" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>