<!-- Index for ALL FINISHED COLLABS   -->
<div class="row my-3 p-3">
  <% @collaborations.each do |collab| %>
    <% if collab.collab_upload.filename != nil %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-collab my-3">
                <%= cl_image_tag collab.drawing.image %>
                <div class="card-collab-infos">
                  <p>"<%= collab.drawing.name %>"</p>
                  <p> <strong><em>inspired by</em></strong> <%= collab.drawing.kid.first_name %></p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card-collab my-3">
                <%= cl_image_tag collab.collab_upload %>
                <div class="card-collab-infos">
                  <p>"<%= collab.drawing.name %>"</p>
                  <p><strong><em>brought to life by</em></strong> <%= collab.creator.first_name %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>