<!-- Index for ALL COLLABS FOR SPECIFIC KID -->
<div class="full-height-page">
  <div class="title text-center mb-3">
    <h1>My Collaborations Gallery</h1>
  </div>
  <div class="collab-sectioning">
  <h1>Booked Collaborations</h1>
    <div class="row my-3 p-3">
      <% booked = @collaborations.select{|x| x.collab_upload.filename == nil} %>
      <% booked.each do |collab| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card-collab upload my3">
            <%= link_to kid_drawing_path(collab.drawing.kid, collab.drawing) do %>
            <%= cl_image_tag collab.drawing.image %>
            <% end %>
            <div class="card-collab-infos-upload" style="position: relative;">
              <div>
                <p>"<%= collab.drawing.name %>"</p>
                  <div class="collaboration-dates">
                    <p><strong><em>Booked by: </em></strong> <%= collab.creator.first_name %></p>
                    <p><strong><em>Booked on: </em></strong> <%= collab.created_at.strftime("%d / %m / %Y") %></em></strong></p>
                    <p><strong><em>Date due: </em></strong> <%= (collab.created_at + 7.days).strftime("%d / %m / %Y") %></em></strong></p>
                  </div>
              </div>
              <%= cl_image_tag collab.creator.avatar, class:"card-collab-user avatar-bordered upload" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="collab-sectioning">
  <h1>Completed collaborations</h1>
    <div class="row my-3 p-3">
      <% completed = @collaborations.select{|x| x.collab_upload.filename != nil}%>
      <% completed.each do |collab| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-collab my-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image: url('<%= cl_image_path collab.drawing.image %>')"></div>
              <div class="flip-card-back" style="background-image: url('<%= cl_image_path collab.collab_upload %>')"></div>
            </div>
          </div>
          <div class="card-collab-infos">
            <h5>"<%= collab.drawing.name %>"</h5>
            <p> <strong><em>inspired by</em></strong> <%= collab.drawing.kid.first_name %></p>
            <p><strong><em>brought to life by</em></strong> <%= collab.creator.first_name %></p>
            <%= link_to collaboration_upvote_path(collab) do %> <i class="far fa-heart"></i>  <%= "#{collab.votes_for.size}" %><% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>
</div>

