<div class="container">
  <h1>Dream Gallery</h1>
</div>
<div class="row">
  <%= @collaborations.each do |collab| %>
    <div class="col-4">
      <div class="card-collab">
          <%= cl_image_tag collab.drawing.image %>
        <div class="card-collab-infos">
          <div>
            <p><%= collab.drawing.name %> by <%= collab.drawing.kid.first_name %></p>
            <p>Created at: <%= collab.created_at %></p>
            <p>Date due: <%= collab.created_at + 7.days %></p>
          </div>
          <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-collab-user avatar-bordered"/>
          <img src="#" class="card-collab-user avatar-bordered"/>
        </div>
      </div>
    </div>
  <% end %>
</div>
